<div class="container d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-4 ">
        <h1 class="mb-5">Login</h1>
        <form (ngSubmit)="onSubmit()" class="form-group ">
            <div class="form-group mb-3">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="model.username" name="username"
                    required>
            </div>
            <div class="form-group mb-3">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="model.password" name="password"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p>No account yet? <a [routerLink]="[AppRoutes.REGISTER]">Register Here</a></p>
    </div>
</div>