<div class="d-flex justify-content-center">
    <h3>Join an Open Game</h3>
</div>
<div *ngIf="openGames.length == 0" class="d-flex justify-content-center mt-2">
    <p >There are Currently no Open Games!</p>
</div>
<ul *ngIf="openGames.length > 0" class="list-group">
    <li *ngFor="let game of openGames" class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
            <span>Join Game {{ game.id }} against {{ game.opponentPlayerName }}</span>
            <div class="d-flex justify-content-end">
                <button (click)="onJoinGame(game.id)" class="btn btn-primary">Join</button>
            </div>
        </div>
    </li>
</ul>