<div class="container d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-7 ">
        <h1>Main Menu</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <app-open-games></app-open-games>
            </li>
            <li class="list-group-item">
                <app-ongoing-games></app-ongoing-games>
            </li>
            <li class="list-group-item">
                <a routerLink="/games/new">Start a New Game</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/games/new-bot">Start a New Game Against a Bot</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/login" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
</div>