<div class="container d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-7 ">
        <h1>Main Menu</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <app-open-games></app-open-games>
            </li>
            <li class="list-group-item">
                <app-ongoing-games></app-ongoing-games>
            </li>
            <li class="list-group-item">
                <button (click)="onStartNewGameAgainstHuman()" class="btn btn-primary">Start a New Game</button>
            </li>
            <li class="list-group-item">
                <button (click)="onStartNewGameAgainstBot()" class="btn btn-primary">Start a New Game Against a Bot</button>
            </li>
            <li class="list-group-item">
                <button (click)="onLogout()" class="btn btn-primary">Logout</button>
            </li>
        </ul>
    </div>
</div>